# Configuration files
firebase-config.js
**/firebase-config.js
config.js
config.keys.js

# Dependencies
node_modules/
.firebase/

# Environment files
.env
.env.local

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Firebase
.firebaserc
firebase-debug.log
